################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/.vs/KnightCodesExamples/v15/Server/sqlite3
